<div class="bg-[#0f283c] pt-10 sm:pt-16 lg:overflow-hidden lg:pt-8 lg:pb-14">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="sm:flex">
      <div class="sm:pt-20 sm:pb-24 pb-4 sm:pl-4 px-4">
        <img class="w-28 mx-auto" src="/assets/wwc.svg" alt="Women Who Code Logo">
        <div class="sm:flex sm:items-center sm:space-x-4 mt-6">
          <img class="w-28 mx-auto sm:mx-0" src="/assets/read-together.svg" alt="Read Together">
          <h1 class="text-center sm:text-left text-white text-7xl font-bold whitespace-nowrap">Read Together</h1>
        </div>
        <p class="mt-5 w-9/12 mx-auto text-base text-[#97dfe2] text-center text-xl tracking-wider">
          a space for members to gather, read, and meet with the community
        </p>
      </div>
      <img class="w-1/2 mx-auto sm:mx-0" src="/assets/reading.svg" alt="Woman Reading">
    </div>
  </div>
</div>
